Repository D3strukt0r/wedding-manuele-robine, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docker, source, test

Fix deleting related entities
  .vscode/extensions.json
  Vagrantfile
  api/migrations/Version20240502173703.php
  api/src/Entity/Card.php
  api/src/Entity/Invitee.php
  api/src/Entity/User.php
Labels: repo, source

Add willCome and food to list
  pwa/src/pages/admin/invitees/ListInvitees.tsx
  pwa/src/translations/app.de.json
Labels: source

Don't show invited that have no card assigned
  api/src/Controller/Invited/Api/ListInviteesOnCard.php
  api/src/Validator/Invited/HasOnlyUnchangedInviteesFromOwnCardValidator.php
  api/translations/validators.de.yaml
Labels: source

Add dependabot and auto-merge
  .github/dependabot.yml
  .github/workflows/automerge-dependabot.yml
  .github/workflows/label.yml
  compose.vm.yml.dist
  pwa.Dockerfile
  pwa/src/App.tsx
Labels: repo, docker, source

Use better favicons
  pwa/index.html
  pwa/public/android-chrome-192x192.png
  pwa/public/android-chrome-512x512.png
  pwa/public/apple-touch-icon.png
  pwa/public/browserconfig.xml
  pwa/public/favicon-16x16.png
  pwa/public/favicon-32x32.png
  pwa/public/favicon.ico
  pwa/public/img/gallery.jpeg
  pwa/public/img/header.png
  pwa/public/img/infos.png
  pwa/public/img/menu.png
  pwa/public/mstile-150x150.png
  pwa/public/safari-pinned-tab.svg
  pwa/public/site.webmanifest
  pwa/src/assets/logo.svg
  pwa/src/components/homepage/Gallery.tsx
  pwa/src/components/homepage/HowToWedding.tsx
  pwa/src/components/homepage/ImportantInfo.tsx
  pwa/src/components/homepage/MenuAndSelection.tsx
Labels: source

Always forward requests to HTTPS locally & remove old env variable requirement
  api/.docker/rootfs/docker-entrypoint.d/00_load-env-variables.envsh
  api/.docker/rootfs/docker-entrypoint.d/50_wait-for-deps.sh
  compose.vm.yml.dist
  pwa/.docker/rootfs/docker-entrypoint.d/00_load-env-variables.envsh
  pwa/.docker/rootfs/etc/nginx/snippets/csp-header.conf
  pwa/tsconfig.json
Labels: repo, docker, source

Replace api url with dynamic variable
  api/.docker/rootfs/etc/nginx/nginx.conf
  compose.vm.yml.dist
  pwa/.docker/rootfs/docker-entrypoint.d/00_load-env-variables.envsh
  pwa/.docker/rootfs/docker-entrypoint.d/disabled/55_map-public-url-to-internal.sh
  pwa/.docker/rootfs/etc/nginx/nginx.conf
  pwa/.docker/rootfs/etc/nginx/sites-available/default.conf
  pwa/index.html
  pwa/src/components/admin/Login.tsx
  pwa/src/components/homepage/MenuAndSelection.tsx
  pwa/src/main.tsx
  pwa/src/pages/admin/cards/ListCards.tsx
  pwa/src/pages/admin/invitees/ListInvitees.tsx
  pwa/src/pages/admin/tables/ListTables.tsx
  pwa/src/pages/admin/users/ListUsers.tsx
Labels: repo, docker, source

Rename to CI/CD like before
  .github/workflows/ci-cd.yml
Labels: source

Add CSP
  pwa/.docker/rootfs/etc/nginx/snippets/csp-header.conf
Labels: docker, source

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

# Add 'docker' label to any change to files within the docker dir and docker relevant files
docker:
  - .docker/**/*
  - api/.docker/**/*
  - pwa/.docker/**/*
  - .dockerignore
  - api.Dockerfile
  - pwa.Dockerfile
  - compose.build.yml
  - compose.vm.yml.dist

# Add 'source' label to any change to files within the source dir EXCEPT for the test files
source:
  - api/bin/**/*
  - api/config/**/*
  - api/migrations/**/*
  - api/public/**/*
  - api/src/**/*
  - api/templates/**/*
  - api/translations/**/*
  - api/.env
  - api/composer.json
  - api/composer.lock
  - api/symfony.lock
  - pwa/public/**/*
  - pwa/src/**/*
  - "!pwa/src/**/*.test.tsx"
  - pwa/.browserslistrc
  - pwa/index.html
  - pwa/package.json
  - pwa/pnpm-lock.yaml
  - pwa/postcss.config.js
  - pwa/tailwind.config.js
  - pwa/tsconfig.json
  - pwa/tsconfig.node.json
  - pwa/vite.config.ts

# Add 'test' label to any change to files within the source dir that are tests
test:
  - api/tests/**/*
  - pwa/src/**/*.test.tsx
  - pwa/tests/**/*
