Repository D3strukt0r/wedding-manuele-robine, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, test

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

feature:
  - head-branch: ['^feature', 'feature']

release:
  - all:
    - base-branch: 'master'
    - head-branch: ['^release', 'release']

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '.docker/**/*'
      - 'api/.docker/**/*'
      - 'pwa/.docker/**/*'
      - '.dockerignore'
      - 'api.Dockerfile'
      - 'pwa.Dockerfile'
      - 'compose.build.yml'
      - 'compose.vm.yml.dist'

source:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - 'api/bin/**/*'
        - 'api/config/**/*'
        - 'api/migrations/**/*'
        - 'api/public/**/*'
        - 'api/src/**/*'
        - 'api/templates/**/*'
        - 'api/translations/**/*'
        - 'api/.env'
        - 'api/composer.json'
        - 'api/composer.lock'
        - 'api/symfony.lock'
        - 'pwa/public/**/*'
        - 'pwa/src/**/*'
        - 'pwa/.browserslistrc'
        - 'pwa/index.html'
        - 'pwa/package.json'
        - 'pwa/pnpm-lock.yaml'
        - 'pwa/postcss.config.js'
        - 'pwa/tailwind.config.js'
        - 'pwa/tsconfig.json'
        - 'pwa/tsconfig.node.json'
        - 'pwa/vite.config.ts'
      - all-globs-to-all-files: '!pwa/src/**/*.test.tsx'

test:
  - changed-files:
    - any-glob-to-any-file:
      - 'api/tests/**/*'
      - 'pwa/src/**/*.test.tsx'
      - 'pwa/tests/**/*'

Update dependencies
  .idea/php.xml
  .idea/wedding-manuele-robine.iml
  api/composer.json
  api/composer.lock
  api/tests/bootstrap.php
  pwa/package.json
  pwa/pnpm-lock.yaml
Labels: test

Ignore major versions for symfony
  .github/dependabot.yml
Labels: none

Add menu changes
  pwa/src/translations/app.de.json
Labels: none

Handle dependencies on a weekly basis, and without reviewer except for majors
  .github/dependabot.yml
Labels: none

Fix typo in text
  pwa/src/translations/app.de.json
Labels: none

Fix dependabot groups
  .github/dependabot.yml
Labels: none

Fix inline radio group doesn't wrap and button should only span after sm:
  pwa/src/components/common/RadioGroup.tsx
  pwa/src/components/homepage/MenuAndSelection.tsx
Labels: none

Use inline after md: size
  pwa/src/components/common/RadioGroup.tsx
  pwa/src/components/homepage/MenuAndSelection.tsx
Labels: none

Add env variable for path style S3 access
  api/.env
  api/config/packages/flysystem.yaml
Labels: none

Ignore not coming invitees for missing food count
  api/src/Controller/Admin/Api/Dashboard/ShowDashboardController.php
Labels: none

Fix uploaded images not loading for dev
  api/src/Controller/Admin/Api/Dashboard/ShowDashboardController.php
  pwa/.docker/rootfs/etc/nginx/snippets/csp-header.conf
Labels: docker

Support passing SSH Agent to vm to container
  .gitattributes
  .vagrant.config.yml.dist
  README.md
  Vagrantfile
Labels: documentation

Fix image not deletable if name too long, and thumbs in upload not square
  pwa/package.json
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Add zip extension and make gallery downloadable
  .idea/php.xml
  api.Dockerfile
  api/composer.json
  api/composer.lock
  api/config/packages/nelmio_cors.yaml
  api/src/Controller/Common/Api/File/UploadFileController.php
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  pwa/package.json
  pwa/src/api/invited/gallery/useDownloadGalleryImages.ts
  pwa/src/components/common/Checkbox.tsx
  pwa/src/components/common/UploadDragger.tsx
  pwa/src/components/homepage/Gallery.tsx
  pwa/src/translations/app.de.json
  pwa/src/utils/download.ts
Labels: docker

Fix missing single image download
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Run code style fixer
  api/src/Controller/Admin/Api/Card/CreateCardController.php
  api/src/Controller/Admin/Api/Card/UpdateCardController.php
  api/src/Controller/Admin/Api/Invitee/CreateInviteeController.php
  api/src/Controller/Admin/Api/Invitee/UpdateInviteeController.php
  api/src/Controller/Admin/Api/Table/CreateTableController.php
  api/src/Controller/Admin/Api/Table/UpdateTableController.php
  api/src/Controller/Admin/Api/User/CreateUserController.php
  api/src/Controller/Admin/Api/User/UpdateUserController.php
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  api/src/Controller/Invited/Api/UpdateInviteesOnCardController.php
  api/src/Dto/Admin/Dashboard/DashboardShowDto.php
  api/src/Dto/Common/ListQueryDto.php
  api/src/Repository/UserRepository.php
Labels: none

Fix form dev tools overlapping
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Update composer dependencies
  api/composer.json
  api/composer.lock
Labels: none

Fix download for mobile pictures wrong orientation
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
Labels: none

Fix api doc bundle deprecation
  api/src/Controller/Admin/Api/Card/CreateCardController.php
  api/src/Controller/Admin/Api/Card/DeleteCardController.php
  api/src/Controller/Admin/Api/Card/ListCardsController.php
  api/src/Controller/Admin/Api/Card/ShowCardController.php
  api/src/Controller/Admin/Api/Card/UpdateCardController.php
  api/src/Controller/Admin/Api/Dashboard/ShowDashboardController.php
  api/src/Controller/Admin/Api/Invitee/CreateInviteeController.php
  api/src/Controller/Admin/Api/Invitee/DeleteInviteeController.php
  api/src/Controller/Admin/Api/Invitee/ListInviteesController.php
  api/src/Controller/Admin/Api/Invitee/ShowInviteeController.php
  api/src/Controller/Admin/Api/Invitee/UpdateInviteeController.php
  api/src/Controller/Admin/Api/Table/CreateTableController.php
  api/src/Controller/Admin/Api/Table/DeleteTableController.php
  api/src/Controller/Admin/Api/Table/ListTablesController.php
  api/src/Controller/Admin/Api/Table/ShowTableController.php
  api/src/Controller/Admin/Api/Table/UpdateTableController.php
  api/src/Controller/Admin/Api/User/CreateUserController.php
  api/src/Controller/Admin/Api/User/DeleteUserController.php
  api/src/Controller/Admin/Api/User/ListUsersController.php
  api/src/Controller/Admin/Api/User/ShowUserController.php
  api/src/Controller/Admin/Api/User/UpdateUserController.php
  api/src/Controller/Common/Api/File/UploadFileController.php
  api/src/Controller/Common/Api/Lookup/ListTypeController.php
  api/src/Controller/Invited/Api/Gallery/ListGalleryImagesController.php
  api/src/Controller/Invited/Api/Gallery/ShowMyGalleryImagesController.php
  api/src/Controller/Invited/Api/Gallery/UpdateMyGalleryImagesController.php
  api/src/Controller/Invited/Api/ListInviteesOnCard.php
  api/src/Controller/Invited/Api/UpdateInviteesOnCardController.php
Labels: none

Sort gallery by "exif.DateTimeOriginal" and fix PhpStan
  .idea/php.xml
  .idea/wedding-manuele-robine.iml
  api/composer.json
  api/composer.lock
  api/config/packages/doctrine.yaml
  api/phpstan-baseline.neon
  api/src/Command/CreateAdminUserCommand.php
  api/src/Command/RefreshGalleryTakenOnFromFile.php
  api/src/Controller/Common/Api/File/UploadFileController.php
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  api/src/Controller/Invited/Api/Gallery/ListGalleryImagesController.php
  api/src/Dto/Invited/ListGalleryImageDto.php
  api/src/Entity/File.php
  api/src/Repository/FileRepository.php
  api/src/Repository/GalleryRepository.php
Labels: none

Handle TakenOn update for deleted files on S3 but not DB
  api/.php-cs-fixer.dist.php
  api/src/Command/RefreshGalleryTakenOnFromFile.php
Labels: none

Fix PWA container waits too little during dev startup
  api/.docker/rootfs/docker-entrypoint.d/50_wait-for-deps.sh
  compose.vm.yml.dist
  pwa/.docker/rootfs/docker-entrypoint.d/50_wait-for-deps.sh
Labels: docker

Add info for sorting and instagram & polarsteps
  pwa/src/translations/app.de.json
Labels: none

Fix download buttons overflow
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Use lighter green for buttons and radius like in design
  pwa/src/components/common/Button.tsx
Labels: none

Make single download buttons more user friendly
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Add button links to instagram and polarsteps
  pwa/src/assets/logo-polarsteps.svg
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Fix ImageMagick error and timeout for entire gallery download
  api.Dockerfile
  api/.docker/rootfs/etc/nginx/sites-available/default.conf
  api/src/Controller/Common/Api/File/UploadFileController.php
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
Labels: docker

Fix error on empty gallery, cannot search sql "IN" with empty haystack
  api/src/Repository/FileRepository.php
Labels: none

Show progress bar when downloading from gallery
  pwa/src/api/invited/gallery/useDownloadGalleryImages.ts
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Add command for file cleanup
  api/src/Command/CleanUnmappedGalleryFiles.php
  api/src/Repository/FileRepository.php
Labels: none

Sort by oldest foto first
  api/src/Repository/FileRepository.php
  pwa/src/translations/app.de.json
Labels: none

Increase upload limit to 20 MB because of photographer
  pwa/src/components/homepage/Gallery.tsx
Labels: none

Update all dependencies
  api/composer.lock
  pwa/package.json
  pwa/pnpm-lock.yaml
Labels: none

Fix gallery not savable after failing upload
  pwa/src/components/common/UploadDragger.tsx
Labels: none

Handle empty file list in clean command
  api/src/Command/CleanUnmappedGalleryFiles.php
Labels: none

Fix upload uses XMLHttpRequest and gives no error information
  pwa/src/utils/authentication.tsx
Labels: none

Fix clean command failing due to relations and not flushing
  api/src/Command/CleanUnmappedGalleryFiles.php
  api/src/Entity/File.php
Labels: none

Increase gallery download limit to 10min
  api/.docker/rootfs/etc/nginx/sites-available/default.conf
Labels: docker
