Repository D3strukt0r/wedding-manuele-robine, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, docker, test

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

feature:
  - head-branch: ['^feature', 'feature']

release:
  - all:
    - base-branch: 'master'
    - head-branch: ['^release', 'release']

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '.docker/**/*'
      - 'api/.docker/**/*'
      - 'pwa/.docker/**/*'
      - '.dockerignore'
      - 'api.Dockerfile'
      - 'pwa.Dockerfile'
      - 'compose.build.yml'
      - 'compose.vm.yml.dist'

source:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - 'api/bin/**/*'
        - 'api/config/**/*'
        - 'api/migrations/**/*'
        - 'api/public/**/*'
        - 'api/src/**/*'
        - 'api/templates/**/*'
        - 'api/translations/**/*'
        - 'api/.env'
        - 'api/composer.json'
        - 'api/composer.lock'
        - 'api/symfony.lock'
        - 'pwa/public/**/*'
        - 'pwa/src/**/*'
        - 'pwa/.browserslistrc'
        - 'pwa/index.html'
        - 'pwa/package.json'
        - 'pwa/pnpm-lock.yaml'
        - 'pwa/postcss.config.js'
        - 'pwa/tailwind.config.js'
        - 'pwa/tsconfig.json'
        - 'pwa/tsconfig.node.json'
        - 'pwa/vite.config.ts'
      - all-globs-to-all-files: '!pwa/src/**/*.test.tsx'

test:
  - changed-files:
    - any-glob-to-any-file:
      - 'api/tests/**/*'
      - 'pwa/src/**/*.test.tsx'
      - 'pwa/tests/**/*'

10 minutes is still not enough to download the entire gallery
  api/.docker/rootfs/etc/nginx/sites-available/default.conf
Labels: docker

20 minutes is still not enough to download entire gallery
  api/.docker/rootfs/etc/nginx/sites-available/default.conf
Labels: docker

Handly over 10 gallery files in download asynchronously
  api/.docker/rootfs/etc/nginx/sites-available/default.conf
  api/.env
  api/config/packages/messenger.yaml
  api/config/packages/monolog.yaml
  api/config/services.yaml
  api/migrations/Version20241225155550.php
  api/phpstan-baseline.neon
  api/src/Command/RefreshGalleryTakenOnFromFile.php
  api/src/Controller/Common/Api/File/UploadFileController.php
  api/src/Controller/Invited/Api/Gallery/CheckGalleryDownloadController.php
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  api/src/Entity/GalleryDownload.php
  api/src/Entity/GalleryDownloadState.php
  api/src/Message/AsyncMessageInterface.php
  api/src/Message/PrepareHugeGalleryDownload.php
  api/src/MessageHandler/PrepareHugeGalleryDownloadHandler.php
  api/src/Repository/FileRepository.php
  api/src/Repository/GalleryDownloadRepository.php
  api/src/Service/FileHelper.php
  api/src/Service/GalleryHelper.php
  api/templates/debug.html.twig
  pwa/src/api/invited/gallery/useDownloadGalleryImages.ts
  pwa/src/api/invited/gallery/useDownloadState.ts
  pwa/src/components/homepage/Gallery.tsx
  pwa/src/translations/app.de.json
Labels: docker

Fix if gallery download contains with same original filename will rewrite each other
  api/phpstan-baseline.neon
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  api/src/MessageHandler/PrepareHugeGalleryDownloadHandler.php
Labels: none

Update dependencies
  .idea/php.xml
  .idea/wedding-manuele-robine.iml
  README.md
  api/composer.lock
  pwa/package.json
  pwa/pnpm-lock.yaml
Labels: documentation

Download file before giving response
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
Labels: none

Add intermediate step while saving generated zip file locally
  .docker/rootfs-local/minio/.gitignore
  api/src/Entity/GalleryDownload.php
  api/src/Entity/GalleryDownloadState.php
  api/src/MessageHandler/PrepareHugeGalleryDownloadHandler.php
  pwa/src/api/invited/gallery/useDownloadState.ts
  pwa/src/components/homepage/Gallery.tsx
  pwa/src/translations/app.de.json
Labels: docker

Show humanized time remaining for download
  pwa/package.json
  pwa/pnpm-lock.yaml
  pwa/src/App.tsx
  pwa/src/components/homepage/Gallery.tsx
  pwa/src/main.tsx
Labels: none

Use streamed response where sensible to reduce storage load and wait times
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  api/src/Controller/Invited/Api/Gallery/ShowGalleryImageController.php
Labels: none

Offer direkt API download link as well as GDrive link
  api/src/Controller/Invited/Api/Gallery/DownloadGalleryImagesController.php
  api/src/Controller/Invited/Api/Gallery/ShowGalleryImageController.php
  pwa/src/assets/logo-gdrive.svg
  pwa/src/assets/logo-polarsteps.svg
  pwa/src/components/homepage/Gallery.tsx
  pwa/src/translations/app.de.json
Labels: none

fix: corepack error by updating corepack to latest version
  pwa.Dockerfile
Labels: docker
